@{
    ViewData["Title"] = "Home Page";
}

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://resources.stuff.co.nz/content/dam/images/1/o/b/4/w/l/image.related.StuffLandscapeSixteenByNine.710x400.1obl0m.png/1519610521738.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://resources.stuff.co.nz/content/dam/images/1/o/b/4/2/9/image.related.StuffLandscapeSixteenByNine.710x400.1obl0m.png/1519610521738.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.squarespace-cdn.com/content/v1/55c005f0e4b078be36b7b99b/1560990761472-APEZXTFNZBHX9Q3C7ZZR/birch+plywood+lined+barn?format=1000w"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://www.remodelista.com/wp-content/uploads/2017/08/marcia-mihotich-tiny-plywood-beach-house-seasalter-kent-england-via-the-modern-house-5-733x488.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://i.pinimg.com/originals/7d/1b/b8/7d1bb8b208d41975a1da2d6ce7d3657e.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsNvYb4wWIGHhqYhDUhVWaj0_1Ep-X-3t-1sJwSHeLJcatPQOHpBbjnWQ0pPoTv6nCBrY&usqp=CAU"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>
</div>
<!-- Gallery -->