
@{
    ViewData["Title"] = "Accept";
}



<div class="container">
    <div class="row">
        <div class="col-md-4" style="border:1px dotted black;">
            <h1>Manage Employee</h1>
            <img src="https://www.commbox.io/wp-content/uploads/2019/10/32-1-1024x597.jpg" class="img-thumbnail"/>
            <a href="@Url.Action("Index","StaffMembers")" class="btn btn-primary btn-lg">Dashboard</a>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-4" style="border:1px dotted black;">
            <h1>ManageHome Appliances</h1>
            <img src="https://www.proremodeler.com/sites/proremodeler/files/home-appliances.jpeg" class="img-thumbnail"/>
            <a href="@Url.Action("Index","HomeAppliances")" class="btn btn-primary btn-lg"> Home Appliances Dashboard</a>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-4" style="border:1px dotted black;">
            <h1>Manage Order </h1>
            <img src="https://www.strictlytoolboxes.com/pub/media/site/content/TUTORIAL/WHAT%20HAPPENS%20NEXT/placeorder.png" class="img-fluid img-thumbnail"/>
            <a href="@Url.Action("Index","PlaceOrders")" class="btn btn-primary btn-lg">Order Details</a>
        </div>
        <div class="col-md-1"></div>





    </div>

</div>
