
@{
    ViewData["Title"] = "Reject";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Back to Login try to fill correct user Name or password</h1>
            <a href="@Url.Action("Create","Authentications")">Back to Login</a>

        </div>

    </div>

</div>

<h1>Reject</h1>


